*{
    margin: 0;
    padding: 0;
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(23, 18, 18);
    padding: 1rem;
}
.logo-img{
    height: 3.5rem;
}
.search{
    font-size: 1rem;
}
.search input{
    width: 80vh;
    height: 5vh;
    border-radius: 10px 0px 0px 10px;
    border: none;
}
.search button{
    width: 15vh;
    height: 5vh;
    border-radius: 0px 10px 10px 0px;
    background-color:rgb(0, 134, 161);
    color: black;
    font-size: 0.8rem;
    /* padding-bottom: 0.2rem; */
    border: none;
}
.hedding{
    font-size: 3rem;
    color: rgb(30, 45, 210);
    letter-spacing: 2px;
}