* {
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    border: 2px solid black;
}

.nav-bar>div>.logo {
    width: 6rem;
}

.nav-bar>ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bar>ul>li {
    list-style-type: none;
    margin: 1rem 2rem;
    font-size: 1.2rem;

}

.nav-bar>ul>.log-buttton {
    padding: 0.7rem 2rem;
    font-size: 1.2rem;
    color: black;
    background-color: rgb(24, 219, 24);
    cursor: pointer;
}

.cantainer {
    margin-top: 2rem;
}

.search {
    margin-left: 2rem;
    margin-bottom: 2rem;
}

.search>input {
    width: 50vh;
    height: 5vh;
    border-radius: 10px 0px 0px 10px;

}

.search>button {
    width: 15vh;
    height: 5.4vh;
    border-radius: 0px 10px 10px 0px;
    background-color: rgb(0, 134, 161);
    color: black;
    font-size: 0.8rem;
    padding-bottom: 0.2rem;

}

.card {
    height: inherit;
    width: 20rem;
    margin: 1rem;
    padding: 0.4rem;
}

.card:hover {
    border: 2px solid black;
}

.card>.card-img {
    width: 100%;
}

.card-cantainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.funtion-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;
}

.filter-btn {
    padding: 1rem 2rem;
    margin: 1rem;
    font-size: 1.2rem;
    color: blue;
    background-color: aqua;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.filter-btn:hover {
    background-color: blue;
    color: aqua;
    border: 1px solid black;
}

.top-container {
    height: 14vh;
    background-color: gray;
    opacity: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 4.2rem;
    border-radius: 5px;
    margin-top: 2rem;

}

.top-container>h1 {
    font-size: 2rem;
    opacity: 0.5;

}

.shimmer-card {
    height: 18rem;
    width: 20rem;
    background-color: gray;
    margin: 1rem;
    opacity: 0.5;
    border-radius: 5px;
}

.shimmer-container {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}